* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  height: 75vh;
  width: 80vw;
  background-color: #626262;
  margin: 50px auto 50px auto;
  border: 3px dashed black;
  text-align: center;
}

.box1 {
  position: absolute;
  height: 20%;
  width: 80%;
  background-color: #262626;
  margin: 50px auto 50px auto;
  transform: rotate(-5deg);
  border: 3px dashed black;
}

.box2 {
  position: absolute;
  height: 20%;
  width: 80%;
  background-color: #851907;
  margin: 50px auto 50px auto;
  transform: rotate(5deg);
  border: 3px dashed black;
}
